site_name: ""
site_url: https://docs.productscience.app
repo_url: https://docs.productscience.app
edit_uri: edit/main/docs
copyright: Copyright Product Science Inc. All rights reserved.
site_description: >-
  Learn to configure and use Product Science

# Content
nav:
  - Docs:
      - Get Started:
          - Overview: Getstarted/Overview.md
          - Quickstart: Getstarted/Quickstart/Quickstart.md
          - Models: Getstarted/Models/Models.md
          - Terms & policies: Getstarted/Termsofuse.md
      - Capabilities:
          - Text Generation: Capabilities/Text-generation.md
      - End points:
          - Chat Completions:
              - Overview: Endpoints/Chatcompletion/Overview.md
              - Getting started: Endpoints/Chatcompletion/Getting-started.md
              - Response Format: Endpoints/Chatcompletion/Chat-Completions-response-format.md  
  - API Reference: API-Reference.md
  - Log In: login.md
  - Sign Up: signup.md

# Visual
theme:
  name: material
  custom_dir: overrides
  logo: images/logo-text.svg
  favicon: images/Icon.png
  font:
    text: Manrope
  palette:
    # Light mode
    # media: "(prefers-color-scheme: light)"
    - scheme: default
      primary: white
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  include_search_page: false
  language: en
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.expand
    - navigation.top
    - content.code.annotate
    - navigation.indexes
    - navigation.tracking
    - search.suggest
#    - toc.integrate

markdown_extensions:
  - footnotes
  - admonition
  - attr_list
  - toc
  # https://facelessuser.github.io/pymdown-extensions/
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

plugins:
  - minify:
      minify_html: false
  - search
  - macros:
      modules: ["ps-plugin"]
  - mkdocs-video:
      is_video: true
      video_muted: true
      video_controls: true
      css_style:
        width: "50%"
  - redirects:
      redirect_maps:
        'integration/android/gradle.md': 'mobile/integration/android/gradle.md'
        'integration/android/cicd.md': 'mobile/integration/android/cicd.md'
        'integration/android/cli-tool.md': 'mobile/integration/android/cli-tool.md'
        'integration/android/integration-faq-android.md': 'mobile/integration/android/integration-faq-android.md'
        'integration/android/user-flow.md': 'mobile/integration/android/user-flow.md'
        'integration/ios/xcode.md': 'mobile/integration/ios/xcode.md'
        'integration/ios/bazel.md': 'mobile/integration/ios/bazel.md'
        'integration/ios/distribution.md': 'mobile/integration/ios/distribution.md'
        'record-n-upload/ios.md': 'mobile/record-n-upload/ios.md'
        'device-set-up/ios.md': 'mobile/device-set-up/ios.md'
        'device-set-up/android.md': 'mobile/device-set-up/android.md'
  - swagger-ui:
      swagger_url: 'path/to/your/openapi.yaml'  # Update this with the correct path
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/product-science-inc/