site_name: ""
site_url: https://weai.productscience.ai/
repo_url: https://weai.productscience.ai/
edit_uri: edit/main/docs
copyright: Copyright ProductScience Inc. All rights reserved.
site_description: >-
  Learn to configure and use WeAI

# Content
nav:
  - Docs:
      - Introduction: introduction.md
      - Quickstart:
          - Developer: 
              - Quickstart: quickstart/developer/quickstart.md
              - Details: quickstart/developer/details.md
              - Discovery: quickstart/developer/discovery.md
          - Participant:
              - Quickstart: quickstart/participant/quickstart.md
              - Network Node API: quickstart/participant/network-node-api.md
      - Capabilities:
          - Text Generation: capabilities/text-generation.md
          - Models: capabilities/models.md
      - Endpoints:
          - Chat Completions: endpoints/chat-completions.md
      - Pricing: pricing.md
      - Terms & Policies: termsofuse.md
      - Hardware Specifications: hardware-specifications.md
      - Help: help.md
  - API Reference:
     - API Reference: api-reference/api-reference.md
     - REST API: api-reference/rest-api.md

# Visual
theme:
  name: material
  custom_dir: overrides
  favicon: images/Icon.png
  font:
    text: Manrope
  palette:
    # Light mode
    # media: "(prefers-color-scheme: light)"
    - scheme: default
      primary: white
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  include_search_page: false
  language: en
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.annotate
    - navigation.indexes
    - navigation.tracking
    - search.suggest

markdown_extensions:
  - footnotes
  - admonition
  - attr_list
  - toc
  # https://facelessuser.github.io/pymdown-extensions/
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

plugins:
  - minify:
      minify_html: false
  - search
  - mkdocs-video:
      is_video: true
      video_muted: true
      video_controls: true
      css_style:
        width: "50%"

extra_javascript:
  - buttons.js

