site_name: ""
site_url: https://gonka.ai/
edit_uri: edit/main/docs
site_description: >-
  Learn to configure and use Gonka network

# Content
nav:
  - Docs:
      - Introduction: introduction.md
      - Developer:
        - Quickstart: developer/quickstart.md
        - Details: developer/details.md
      - Host:
        - Quickstart: host/quickstart.md
        - Multiple nodes: host/multiple-nodes.md
        - Network Node API: host/network-node-api.md
        - Key Management: host/key-management.md
        - Access account: host/access-account.md
        - Benchmark to Choose Optimal Deployment Config for LLMs: host/benchmark-to-choose-optimal-deployment-config-for-llms.md
        - Hardware Specifications: host/hardware-specifications.md
        - Genesis: host/genesis.md
      - Wallet:
        - Wallet & Transfer Guide: wallet/wallet-and-transfer-guide.md
        - Pricing: wallet/pricing.md
      - Model licenses: model-licenses.md
      - Transactions & Governance: transactions-and-governance.md
      - Software Upgrades: software-upgrades.md
      - Help: help.md
  - API Reference:
     - API Reference: api-reference/api-reference.md
     - REST API: api-reference/rest-api.md

# Visual
theme:
  name: material
  favicon: images/01-favicon.png
  logo: images/01-favicon.png
  custom_dir: overrides
  font:
    text: Manrope
  palette:
    # Light mode
    # media: "(prefers-color-scheme: light)"
    - scheme: default
      primary: white
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  include_search_page: false
  language: en
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.tracking
    - search.suggest

markdown_extensions:
  - footnotes
  - admonition
  - attr_list
  - toc
  # https://facelessuser.github.io/pymdown-extensions/
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

plugins:
  - minify:
      minify_html: false
  - search
  - mkdocs-video:
      is_video: true
      video_muted: true
      video_controls: true
      css_style:
        width: "50%"
