site_name: ""
site_url: https://weai.productscience.ai/
repo_url: https://weai.productscience.ai/
edit_uri: edit/main/docs
copyright: Copyright ProductScience Inc. All rights reserved.
site_description: >-
  Learn to configure and use WeAI

# Content
nav:
  - Docs:
      - Introduction: Introduction.md
      - Quickstart:
          - Developer: Getstarted/Quickstart/Developer.md
              - Register: Getstarted/Quickstart/Developer-register.md
              - Inference request: Getstarted/Quickstart/Developer-inference-request.md
          - Participant:
              - Step-by-step guide: Getstarted/Quickstart/Participant-Step-by-Step-Guide.md
              - Setting up your chain: Getstarted/Quickstart/Participant-Setting-up-your-chain.md
              - Preparing the join docker images: Getstarted/Quickstart/Participant-Preparing-the-join-docker-images.md
      - Capabilities:
          - Text Generation: Capabilities/Text-generation.md
          - Models: Capabilities/Models.md
      - End points:
          - Chat Completions: Endpoints/chatcompletions.md
      - Terms & policies: Termsofuse.md
  - API Reference:
     - API Reference: API-Reference/API-Reference.md
     - REST API: API-Reference/REST-API.md
  - Log In: login.md
  - Sign Up: signup.md

# Visual
theme:
  name: material
  custom_dir: overrides
  favicon: images/Icon.png
  font:
    text: Manrope
  palette:
    # Light mode
    # media: "(prefers-color-scheme: light)"
    - scheme: default
      primary: white
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  include_search_page: false
  language: en
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.expand
    - navigation.top
    - content.code.annotate
    - navigation.indexes
    - navigation.tracking
    - search.suggest
#    - toc.integrate

markdown_extensions:
  - footnotes
  - admonition
  - attr_list
  - toc
  # https://facelessuser.github.io/pymdown-extensions/
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/extra.css

plugins:
  - minify:
      minify_html: false
  - search
  - mkdocs-video:
      is_video: true
      video_muted: true
      video_controls: true
      css_style:
        width: "50%"
